body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cookie', cursive;
    background-image: url('images/back.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
html{
    height:100% ;
    width: 100%;
}
.cosmo-container {
    width: 100% !important;
    margin: 0px;
}
.cosmo-container >h1 {
    font-family: 'Cookie', cursive !important;
    font-size: 100px !important;
    text-align: center;
    margin: 0px;
}
.fab {
    float: right;
    font-size: 60px;
    color:#403e3e;
    margin-right: 20px;
    margin-top: 16px;
    transition: transform .2s;
}

.fab:hover {
    transform: scale(1.5);
}
.card-flex {
    display: flex;
    justify-content: center
}

.cosmo-img-text {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Cookie', cursive;
    font-size: 30px;

}
.celebrity-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    min-width: 200px;
    margin: 16px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,#00B5D5,#00C3B3);
    background-size: cover;
    background-position: center;
    -webkit-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.75) ;
    -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow:0px 0px 15px 0px rgba(0,0,0,0.75) ;  
}
.celebrity-img-div:hover > p  {
    display: flex;
    cursor: pointer;
} 

#cosmo-list {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    background-color: steelblue;
    color: white;
    justify-content: flex-start;
    display: flex;
}
#cosmo-details {
    width: 400px;
    margin: 2em;
    -webkit-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.75) ;
    -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow:0px 0px 15px 0px rgba(0,0,0,0.75) ;
}

.card-title, .card-subtitle {
    text-align: center;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 40px;
}

#cosmo-img {
   background-image: url('images/lipstick.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

#cosmo-qoute,#cosmo-link {
    text-align: center; font-family: 'Cookie', cursive;
    font-size: 30px;
}

/* animation on name */

#main {
    width: 50px;
    height: 50px;
    background-color:steelblue;
    border-radius: 50%;
    background: rgba(134,174,204,1);
    background: -moz-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,174,204,1)), color-stop(100%, rgba(212,228,239,1)));
    background: -webkit-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
    background: -o-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
    background: -ms-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
    background: linear-gradient(to right, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef', GradientType=1 );
    position: fixed;
    left: 3%;
    top: 95%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#main:hover {
    cursor: pointer;
}
#icon {
    height: 8px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#menu {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 13%;
    left: 58%;
    transform: translate(-50%,-50%);
}

#menu ul {
    width: 150px;
    height: 300px;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: none;
}

#menu ul li {
    font-family: 'Cookie', cursive;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    padding: 10px;
}

#menu ul li:hover {
    cursor: pointer;
}
#menu ul li:before {
    content: '';
    height: 4px;
    width: 15px;
    background-color: white;
    position: absolute;
    margin-top: 18px;
    margin-left: -20px;
}

#menu_circle_layer {
    width: 100px;
    height: 100px;
    background-color: rgb(27, 89, 148);
    border-radius: 50%;
    position: fixed;
    left: 1.5%;
    top: 94%;
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 400px) {
    .cosmo-container >h1 {
        font-family: 'Cookie', cursive !important;
        font-size: 50px !important;
        text-align: center;
        margin: 0px;
    }
    .celebrity-img-div {
       
        width: 120px;
        height: 120px;
        min-width: 120px;  
    }
    .card-title {
        font-size: 26px;
    }
    .card-subtitle  {
        font-size: 20px;
    }
    #cosmo-img {
        height: 120px;
    }
    #cosmo-qoute , #cosmo-link {
        font-size: 20px;
        margin: 0px;
    }
    .fab {
        margin: 6px;
        font-size: 60px;
    }
}

